@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/*highest level of the parent*/

:root {
    font-family: 'Rubik', sans-serif;
}

*::before, *::after, * {
    margin:0;
}


h1 {
    text-align: center;
    color: #fff; 
    font-weight: 500;  
    font-size: 2em;
}

.row {
    justify-content:center;
}


.first-section {
    display: flex;
    flex-direction: column;
    background: url('./images/pattern-bg.png');
    background-size: 100% 100%;
    min-height: 35vh;
    position: relative;
    justify-content: flex-start;
}


.input-group-append button, .input-group-append {
    display: flex;
}

.input-group-text {
    border: none;
    background-color: #000;
}

.up-class {
    position: absolute;
    background-color: #fff;
    bottom: -60px;
    z-index: 1000; /* so that it is always ahead in the stacking context*/
    align-self: center;
}

.second-section {
    min-height: 65vh;
}

.card {
   box-shadow: 5px 8px 10px rgba(0, 0, 0, .2);
   flex-direction: row;
   border-radius: .945em;
}

.one-of {
    font-size: .75em;
    text-transform: uppercase;
    color: #2C2C2C;
    font-weight: 700;
    opacity: .5;
    display: block;
}

.ip, .location,.timezone, .isp {
    font-weight: 500;
    font-size: 1.625em;
    line-height: 1.154em;
}


.card-body > * {
    display: inline-block;
}

.btn-1 {
    padding: .15rem .005rem;
}

.leaflet-control-zoom {
    display: none;
}



@media screen and  (max-width:768px) {

    .card {
        flex-direction: column;
        margin: 2em;
        position: relative;
        bottom: -120px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cntr-setting {
        text-align: center;
    }

    .ip, .location,.timezone, .isp {
        font-size: 1.25em;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

}

@media (min-width:751.2px) and (max-width:1069px) {
    
    .card {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        bottom: -150px;
    }
}
